@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

#baho-calendar {
  margin: auto;
  border-radius: 7px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(17, 13, 13);
  color: azure;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#baho-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 7px;
  width: fit-content;
  gap: 10px;
}
#baho-form > select {
  max-width: fit-content;
  text-align: center;
  padding: 7px;
  border: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}

.baho-input,
.baho-select {
  max-width: 90px;
  border: none;
  text-align: center;
  padding: 5px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  background-color: rgb(17, 13, 13);
  color: azure;
}

small.date {
  background-color: rgb(17, 13, 13);
  color: azure;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

small.clock {
  background-color: rgb(17, 13, 13);
  color: limegreen;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dt {
  background-color: rgb(17, 13, 13);
  color: azure;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 7px;
  width: fit-content;
  gap: 10px;
  font-weight: bold;
  font-family: monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.baho-cal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 7px;
  width: auto;
  gap: 10px;
  font-weight: bold;
}
.baho-day {
  text-align: center;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: 1px solid goldenrod;
}
.baho-sunday {
  color: rgb(231, 65, 65);
  text-align: center;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: 1px solid goldenrod;
}
.baho-active {
  color: limegreen;
  text-align: center;
  padding: 10px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: 1px solid goldenrod;
}
