body {
  margin: auto;
  box-sizing: border-box;
  max-width: 45%;
  background-color: rgb(221, 215, 207);
  color: rgb(58, 49, 49);
  font-weight: bold;
  line-height: 27px;
  font-size: large;
}
h2, h3 {
  margin-left: 45px;
  font-weight: bold;
}
code {
  color: rgb(156, 56, 56);
  padding: 5px;
  font-size: medium;
  font-weight: bold;
}
hr {
  border: 1px solid;
  color: darkolivegreen;
}

a {
  font-size: large;
  text-decoration: none;
}

